@import "tailwindcss";
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #14062d;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

@theme {
  --color-main-bg: #14062d;
  --color-secondary-bg: #fff8f5;
  --color-white-bg: #ffffff;

  --color-main: oklch(0.09 0.08 300);
  --color-secondary: oklch(0.97 0.02 45);
  --color-white: oklch(1 0 0);
}

@layer utilities {
  .bg-main {
    background-color: var(--color-main-bg);
  }

  .bg-secondary {
    background-color: var(--color-secondary-bg);
  }

  .text-main {
    color: var(--color-main-bg);
  }
}
